"*":
  "autocomplete-python":
    useKite: false
    useSnippets: "all"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "archive-view"
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    showIndentGuide: true
  fonts: {}
  "git-plus":
    commits: {}
    general:
      gitPath: "/usr/bin/git"
  "gruvbox-plus-syntax":
    contrast: "Hard"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-pycodestyle": {}
  "linter-ui-default":
    showPanel: true
  minimap: {}
  "package-sync":
    createOnChange: true
  "terminal-plus":
    core: {}
    toggles:
      autoClose: true
  "vim-mode-plus":
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
