packages: [
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "fonts"
  "git-plus"
  "gruvbox-plus-syntax"
  "intentions"
  "linter"
  "linter-php"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "platformio-ide-terminal"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "which-key"
]
